.image-button {
    margin: 0 .6rem 0 0;
    padding: .2rem 1.2rem .2rem .8rem;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 4px;
    border: .2rem solid white;    
    background-color: white;
    color: black;        
    white-space: nowrap;
    cursor: pointer;    
    outline:none;    
    
    &>img {
        width: 1.8rem;
        height: 1.8rem;
    }
    
    &>div {
        padding-left: .25rem;
    }    

    &:hover {
        opacity: .6;
        transition: 0.5s;
    }

    &:focus:not(:hover) {
        outline: none;
        // box-shadow: 0 0 0 .35rem rgba(237, 41, 57, 0.8);
        box-shadow: 0 0 0 .35rem rgba(255, 0, 0, 0.8);
    }

    &:active {
        outline: none;
    }
}