.image-button {
  margin: 0 .6rem 0 0;
  padding: .2rem 1.2rem .2rem .8rem;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  line-height: 1.8rem;
  border-radius: .25rem;
  border: .2rem solid white;
  background-color: white;
  color: black;
  white-space: nowrap;
  cursor: pointer;
  outline: none;

  &>img {
    width: 1.8rem;
    height: 1.8rem;
  }

  &>div {
    padding-left: .25rem;
  }

  &:hover:not(:focus) {
    opacity: .6;
    transition: 0.5s;
  }

  &:focus {
    outline: none;
    background-color: red;
    border-color: red;
    color: white;
  }

  &:active {
    outline: none;
  }
}