html {
  background-color: #0b0b0b;
  -webkit-text-size-adjust: 100%;  
}

body {
  position: fixed;
  display: block;
  background-color: #0b0b0b;
}

@media only screen and (max-width: 864px) {
  .webrcade-outer {
    height: 100vh;
    max-height: 90vw;
  }  
}  

@media only screen and (max-width: 1152px) and (min-width: 864px) {
  .webrcade-outer {
    height: 100vh;
    max-height: 75vw;
  }

}  

@media only screen and (min-width: 1920px) {
  .webrcade-outer {
    max-height: 1080px;
  }
}
