@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

html {
  font-family: 'Quicksand', sans-serif;
  font-size: 1vw;
  background-color: #0b0b0b;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

button {
  font-family: 'Quicksand', sans-serif;
}

body {
  position: fixed;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  color: #e5e5e5;
}

a {
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  color: #e5e5e5;
  transition: color .4s;
}

a:hover {
  color: #aaaaaa;
}

a:focus {
  color: #ce2f37;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.webrcade {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &-outer {
    margin: auto;
    display: flex;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    max-width: 1920px;
    background-color: #1d1d1d;
    max-height: 56.25vw;
    width: 100vw;
  }

  &-outer--hide {
    display: none;
  }

  &-app {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; 
    top: 0;
    z-index: 22
  }
}

@media only screen and (max-width: 864px) {
  .webrcade-outer {
    height: 100vh;
    max-height: 90vw;
  }
  
  html {
    font-size: 1.3vw;
  }
}  

@media only screen and (max-width: 1152px) and (min-width: 864px) {
  .webrcade-outer {
    height: 100vh;
    max-height: 75vw;
  }
  
  html {
    font-size: 1.2vw;
  }
}  

@media only screen and (min-width: 1920px) {
  .webrcade-outer {
    max-height: 1080px;
  }

  html {
    font-size: 19.2px;
  }
}
