@import "./config";

.webrcade {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &-outer {
    margin: auto;
    display: flex;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    max-width: 1920px;
    background-color: #1d1d1d;
    max-height: 56.25vw;
    width: 100vw;
  }

  @media only screen and (min-width: 1920px) {
    &-outer {
      max-height: 1080px;
    }
  }
}
