.webrcade {
  display: flex;
  flex-direction: column;

  &-outer {
    margin: auto;
    display: flex;    
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    max-width: 1920px;
    background-color: #1d1d1d;
    height: 100vh;
    width: 100vw;
    max-height: 56.25vw;
  }

  &-outer--hide {
    display: none;
  }

  &-app {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; 
    top: 0;
    z-index: 22
  }
}
